<div id="dashboard-right-bar" class="container dashboard-sidebar-container">
    <div class="row">
        <span class="col-3 font-weight-bold">History</span>
        <span class="col-2"><i class="fa fa-refresh"></i></span>
        <select class="col-6 form-control p-2">
            <option value="">Option</option>
        </select>

    </div>
    <div class="row" *ngFor="let dataset of datasets">
        <div class="col-12">
            <div class="alert alert-info">
                <b>{{dataset?.dataFormat}}:</b> {{dataset?.dataString}}
            </div>
        </div>
    </div>
</div>
