<div id="dashboard-right-bar" class="container dashboard-sidebar-container">
    <div class="row">
        <span class="col-3 font-weight-bold">History</span>
        <button (click)="refresh();"><span class="col-2"><i class="fa fa-refresh"></i></span></button>
        <select (change)="filter($event)" #selectFilter  [value]="filterBy" class="col-6 form-control p-2">
            <option value="">Select Status</option>
            <option value="Pending">Pending</option>
            <option value="In progress">In progress</option>
            <option value="Completed">Completed</option>
        </select>
    </div>
    <div class="requested" *ngIf="requested?.length > 0">
        <div class="row">
            <div class="col-12">
                <h4>My offers</h4>
            </div>
        </div>
        <div class="row" *ngFor="let history of requested">
            <div class="col-12">
                <div class="alert alert-info">
                    <table>
                        <tbody>
                        <tr>
                            <td><label>Date:</label> {{history.purchaseDate}}</td>
                        </tr>
                        <tr>
                            <td><label>Buyer:</label> {{history.buyer.username}}</td>
                        </tr>
                        <tr>
                            <td><label>Dataset:</label> {{history.dataset.dataFormat}}</td>
                        </tr>
                        <tr>
                            <td><label>Service:</label> {{history.service.title}}</td>
                        </tr>
                        <tr>
                            <td><label>Status:</label> {{history.status}}</td>
                        </tr>
                        <tr>
                            <td>
                                <button style="width: 100%" (click)="acceptOffer(history,'INPROGRESS')"
                                        class="btn btn-success">Accept
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="pending" *ngIf="pendings?.length > 0">
        <div class="row">
            <div class="col-12">
                <h4>Pending Jobs</h4>
            </div>
        </div>
        <div class="row" *ngFor="let history of pendings">
            <div class="col-12">
                <div class="alert alert-info">
                    <table>
                        <tbody>
                        <tr>
                            <td><label>Date:</label> {{history.purchaseDate}}</td>
                        </tr>
                        <tr>
                            <td><label>Seller:</label> {{history.seller.username}}</td>
                        </tr>
                        <tr>
                            <td><label>Dataset:</label> {{history.dataset.dataFormat}}</td>
                        </tr>
                        <tr>
                            <td><label>Service:</label> {{history.service.title}}</td>
                        </tr>
                        <tr>
                            <td><label>Status:</label> {{history.status}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="in-progress" *ngIf="inprogress?.length > 0">
        <div class="row">
            <div class="col-12">
                <h4>In-Progress Job</h4>
            </div>
        </div>
        <div class="row" *ngFor="let history of inprogress">
            <div class="col-12">
                <div class="alert alert-info">
                    <table>
                        <tbody>
                        <tr>
                            <td><label>Date:</label> {{history.purchaseDate}}</td>
                        </tr>
                        <tr>
                            <td><label>Seller:</label> {{history.seller.username}}</td>
                        </tr>
                        <tr>
                            <td><label>Dataset:</label> {{history.dataset.dataFormat}}</td>
                        </tr>
                        <tr>
                            <td><label>Service:</label> {{history.service.title}}</td>
                        </tr>
                        <tr>
                            <td><label>Status:</label> {{history.status}}</td>
                        </tr>
                        <tr>
                            <td>
                                <button style="width: 100%" (click)="acceptOffer(history,'COMPLETED')"
                                        class="btn btn-success">Submit Job
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="completed" *ngIf="completed?.length > 0">
        <div class="row">
            <div class="col-12">
                <h4>Completed Jobs</h4>
            </div>
        </div>
        <div class="row" *ngFor="let history of completed">
            <div class="col-12">
                <div class="alert alert-info">
                    <table>
                        <tbody>
                        <tr>
                            <td><label>Date:</label> {{history.purchaseDate}}</td>
                        </tr>
                        <tr>
                            <td><label>Seller:</label> {{history.seller.username}}</td>
                        </tr>
                        <tr>
                            <td><label>Dataset:</label> {{history.dataset.dataFormat}}</td>
                        </tr>
                        <tr>
                            <td><label>Service:</label> {{history.service.title}}</td>
                        </tr>
                        <tr>
                            <td><label>Status:</label> {{history.status}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
