<div id="dashboard-content" class="container dashboard-container">
    <div class="row" *ngIf="errorMessage">
        <div class="col-12">
            <div class="alert alert-danger">
                <i class="fa fa-info-circle mr-2"></i> {{errorMessage}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="service">
            <span class="text-title"> Selected Service Details</span><span
                class="seller-details"> Seller Email : {{service.seller.email}}</span>
            <form [formGroup]="launchServiceFrom" (submit)="launchService()" method="post">
                <div class="form-group row">
                    <div class="col-md-4">
                        <span for="serviceTitle" class="font-weight-bold">Service Title</span>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" readonly value="{{service.title}}"
                               id="serviceTitle" name="serviceTitle">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <span for="serviceDescription" class="font-weight-bold">Service Description</span>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" readonly value="{{service.description}}"
                               id="serviceDescription" name="serviceDescription">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <span for="servicePrice" class="font-weight-bold">Service Price</span>
                    </div>
                    <div class="col-md-8">
                        <input type="number" class="form-control" readonly value="{{service.price}}"
                               id="servicePrice" name="servicePrice">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <span for="dataset" class="font-weight-bold">Choose Dataset</span>
                    </div>
                    <div class="col-md-8">
                        <select formControlName="dataset" class="form-control">
                            <option [ngValue]="null" disabled>Choose your dataset</option>
                            <option *ngFor="let ds of datasets" [ngValue]="ds">
                                {{ ds.dataFormat }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success form-control">
                            <h4>Launch Service</h4>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12" *ngIf="history?.dataset">
            <div class="row">
                <div class="col-12"><h4 class="header">Dataset Details</h4></div>
            </div>
            <div class="row form-group">
                <div class="col-4"><strong>Buyer: </strong></div>
                <div class="col-4">{{history?.dataset?.buyer?.username}}</div>
            </div>
            <div class="row form-group">
                <div class="col-4"><strong>Data format</strong></div>
                <div class="col-8"><input type="text" class="form-control" value="{{history?.dataset?.dataFormat}}" readonly></div>
            </div>
            <div class="row form-group">
                <div class="col-4"><strong>Data String</strong></div>
                <div class="col-12"><textarea rows="4" class="form-control" readonly>{{history?.dataset?.dataString}}</textarea></div>
            </div>


            <form [formGroup]="acceptForm" (submit)="accept()" method="post">
                <div class="row form-group" *ngIf="history.status==='COMPLETED' || history.status==='View'">
                    <div class="col-4"><strong>Output Data</strong></div>
                    <div class="col-12"><textarea rows="4" class="form-control" formControlName="outputDataset" placeholder="Output Data" [readOnly]="history.status==='View'" >
                        {{history?.outputDataset}}
                    </textarea></div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <textarea rows="2" placeholder="Comments" class="form-control" id="comments" formControlName="comment"  [readOnly]="history.status==='View'">
                            {{history?.comment}}
                        </textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8" *ngIf="history.status!=='View'">
                        <button type="submit" class="btn btn-success form-control">
                            <h4>{{history.status==='COMPLETED'?'Submit':'Accept'}}</h4>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
