#dashboard-content {
  margin: 20px;
}
.text-title{
  color: #1976d2;
  font-size: 20px;
}
.seller-details{
  float: right;
  color: #8a67d2;
}

h4.header{
  text-align: center;
  background: #105fb6;
  color: white;
  margin-bottom: 10px;
}