<div class="container-fluid" id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand"routerLink="/dashboard">Quexl</a>
    <button class="navbar-toggler" type="button"  (click)="isOpen=!isOpen" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" #collapse="bs-collapse" [collapse]="!isOpen" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item" *ngIf="auth" >
          <a class="nav-link btn" href="#" [routerLink]="['/services']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}">Services</a>
        </li>
        <li class="nav-item" *ngIf="auth" >
          <a class="nav-link btn" href="#" [routerLink]="['/services/add']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}">Create Service</a>
        </li>

        <!--Added later starts-->
        <li class="nav-item" *ngIf="auth" >
          <a class="nav-link btn" href="#" [routerLink]="['/datasets/add']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}">Create Datasets</a>
        </li>

        <li class="nav-item" *ngIf="auth" >
          <a class="nav-link btn" href="#" [routerLink]="['/datasets']" [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}">Datasets</a>
        </li>
        <!--Added later ends-->
      </ul>
      <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item" *ngIf="!auth">
          <a class="nav-link btn" data-toggle="modal" (click)="openModal(template)" data-target="#myModal">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="!auth">
          <a class="nav-link btn" href="#" data-toggle="modal" data-target="#myModal">Register</a>
        </li>
        <li class="nav-item" *ngIf="auth">
          <a class="nav-link btn" href="#"> <i class="fa fa-user"></i> {{auth.username}}</a>
        </li>
        <li class="nav-item" *ngIf="auth">
          <a class="nav-link btn" role="button" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>

    <ng-template #template>
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Sign In</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()">×</button>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign In</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </ng-template>
  </nav>
</div>
