#nav-bar{
  padding: 0px;
}
.navbar-light .navbar-brand {
  color: black;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .active {
  color: #0f76c8;
  border-bottom: 2px solid #0f76c8;
  border-radius: 0px;
}

.nav-item:not(:last-child){
  border-right: 1px solid white;
}

.nav-item a{
  color: #0f76c8;
}
