<div id="dashboard-left-bar" class="container dashboard-sidebar-container">
    <div class="row">
        <div class="col-12">
           <label for="search">Search for Data</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                <input id="search" class="form-control" type="text" name="search" aria-describedby="basic-addon1"/>
            </div>
        </div>
    </div>
{{services | json}}
</div>
